@import "../../style/colors.scss";

.controlButton {
    display: flex;
    width: 82px;
    height: 82px;

    background: #ffffff;
    box-shadow: 0px 4px 25px $lightlessBlue;
    border-radius: 10px;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:active {
        background-color: $light-gray;
    }
}
