@import "../../style/colors.scss";

.stream {
    background-color: $lightest-gray;
    width: 100vw;
    height: 100vh;

    .topContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70%;

        .video {
            margin-top: 80px;
            width: 70%;
            height: 85%;
            border: solid 1px black;
        }
    }
}
