@import "../../style/colors.scss";

.modeBtn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 174px;

    background: #ffffff;

    box-shadow: 0px 4px 25px $lightlessBlue;
    border-radius: 20px;

    cursor: pointer;

    .icon {
        width: 80%;
    }

    &.active {
        border: 6px solid $red;
        box-sizing: border-box;
    }
}
